In [1]:
import json
import pandas
from collections import defaultdict

In [2]:
result_files = [
    ('hw01/hw01_test_results.json', 'hw01_test'),
    ('hw02/xgboost_params_results.json', 'xgboost'),
    ('hw02/gb_impl_results.json', 'gb_impl'),
    ('hw03/text_classification_params_results.json', 'text_classification'),
    ('hw03/logistic_regression_results.json', 'logistic_regression'),
    ('hw03/ad_budget_results.json', 'ad_budget')
]

In [3]:
result = defaultdict(dict)
for filepath, _ in result_files:
    with open(filepath, 'r') as f:
        for name, score in json.load(f).items():
            result[name][filepath] = max(score, result[name].get(filepath, 0.))
for name in result:
    result[name]['total'] = sum(result[name].values())

In [4]:
df = defaultdict(list)

for name in result:
    for filepath, column in result_files:
        df[column].append(result[name].get(filepath))
    df['total'].append(result[name]['total'])
    df['nickname'].append(name)

df = pandas.DataFrame(df, columns=['nickname']+[c for _, c in result_files]+['total'])

In [5]:
df.head()

,nickname,hw01_test,xgboost,gb_impl,text_classification,logistic_regression,ad_budget,total
0,,NaN,NaN,NaN,NaN,0.05,0.06,0.110000
1,ni,NaN,0.99,0.985,1.04,1.33,0.36,4.705000
2,alexeypushchin,NaN,NaN,NaN,0.73,NaN,NaN,0.730000
3,juliap94,0.100000,NaN,NaN,NaN,NaN,NaN,0.100000
4,rubenru,0.606531,0.97,0.896,NaN,NaN,NaN,2.472531

In [6]:
df.to_csv('rating.csv', index=False)

In [7]:
sum(df.total > 3.5)

51

In [10]:
df = pandas.read_csv('hw0/results.csv')
df = df[df.columns[1:5]]
df.columns = ['email', 'score', 'fio', 'nickname']
df.score = df.score.apply(lambda x: round(0.02 * float(x.split('/')[0]), 2))

In [11]:
a = set(result)
b = set(df.nickname)
print(len(a), len(b), len(a & b))

281 365 160